/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@import 'variables';

@keyframes moving {
  0% {
    inset-inline-start: -20px;
  }

  100% {
    inset-inline-start: -16px;
  }
}

@keyframes core-coloring {
  100% {
    fill: var(--core-active-clr);
  }
}

@keyframes main-body-coloring {
  100% {
    fill: var(--main-body-active-clr);
  }
}

@keyframes contour-coloring {
  100% {
    fill: var(--contour-active-clr);
  }
}

@keyframes icon-scaling {
  100% {
    transform: scale(1.5);
    transform-origin: center;
  }
}

@keyframes sparks-coloring {
  100% {
    fill: var(--sparks-fill-clr);
  }
}
