.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent-color);
  font-family: var(--base-font), sans-serif;
  font-size: var(--base-font-size);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--weight-title) var(--weight-text);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: var(--content-width);
  height: 368px;
  margin: 100px auto;
  border: 3px solid var(--accent-color);
  padding: 0;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  background-color: #fff;
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  text-decoration: none;
}

.header__text {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: var(--content-width);
}

.card {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #fff;
}

.card__title {
  height: 33px;
  border: 3px solid var(--accent-color);
  border-bottom: none;
  padding: 3px 24px 3px 10px;
  font-weight: var(--weight-title);
  font-size: 18px;
}

.card__img-block {
  position: relative;
  max-height: 696px;
  border: 3px solid #000;
}

.card__img-label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 27px 27px 0 0;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: 0 0 0.7px var(--background-color);
  background-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--background-color)) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
  }
}

.card__img {
  width: 100%;
  height: 100%;
  border: none;
}

.card__text-container {
  border: 3px solid var(--accent-color);
  padding: 25px;
}

.card__text-first {
  font-size: 18px;
  line-height: 21px;
}

.card__text-second {
  margin-top: 27px;
  font-size: 18px;
  line-height: 21px;
}

.footer {
  width: var(--content-width);
  margin-top: 50px;
  margin-bottom: 103px;
}


.dialog-open-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 335px;
  height: 55px;
  margin: 0 auto;
  border: 2px solid var(--accent-color);
  padding: 15px 0 15px 0;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  background: var(--background-color);
  cursor: pointer;
}

.dialog-open-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.dialog-open-button:hover::after {
  transform: scaleX(1);
}

.dialog-open-button:focus {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  outline: none;
}

.dialog-open-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition-duration: 0.3s;
}


.floppy-dialog {
  position: relative;
  z-index: 1;
  inline-size: 80px;
  block-size: 80px;
}
.dialog-open-button .floppy {
  position: relative;
  z-index: 1;
  filter: invert(0);
  inline-size: 21px;
  block-size: 21px;
}

.dialog-open-button:hover .floppy {
  filter: invert(1);
  transition: filter 0.5s ease-in-out;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 353px;
  margin: 0;
  border: 2px solid var(--accent-color);
  padding: 30px;
  text-align: center;
  background: var(--background-color);
  transform: translate(-50%, -50%);
}

.modal[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.modal__title {
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
}

.dialog-close-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  background: #fff;
}

.dialog-close-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.dialog-close-button:hover::after {
  transform: scaleX(1);
}

.dialog-close-button:focus {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  outline: none;
}

.dialog-close-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition-duration: 0.3s;
}

.card__like-button {
  position: relative;
  border: 2px solid #000;
  padding: 0;
  background-color: #fff;
  cursor: pointer;
  inline-size: 130px;
  block-size: 38px;
}

.card__like-button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.card__like-button:hover::after {
  transform: scale(1);
}

.card__like-button:focus {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition-duration: 0.3s;
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: var(--accent-font, 'Courier New', monospace);
  font-size: var(--accent-font-size, 0.875rem);
  line-height: 0.9;
  mix-blend-mode: difference;
}

.card-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-top: 25px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 0.5px 0;
  background: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: 0.3s ease;
}

.like-icon {
  cursor: pointer;
}

.sparks {
  opacity: 0;
  fill: var(--sparks-color);
}

.core {
  fill: transparent;
  transition: 0.3s;
}

.main-body {
  fill: transparent;
  transition: 0.3s;
}

.like-icon:hover .core {
  fill: var(--accent-color);
}

.like-icon:not(:hover) .core {
  transition-delay: 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .main-body {
  transition: 0.3s;
}

.like-icon:active .core {
  fill: var(--sparks-color);
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked {
  transition-delay: 0.1s;
  transform-origin: center;
  animation: heart 0.3s ease-in alternate;
}

.like-icon.is-liked .sparks {
  transition-delay: 0.3s;
  animation: sparks 0.3s ease-in alternate;
}

.like-icon .contour {
  fill: var(--accent-color);
  transition: 0.1s;
}

.filter-1 {
  filter: brightness(0.7);
}

.filter-2 {
  filter: grayscale(50%);
}

.filter-3 {
  filter: opacity(25%);
}

.filter-4 {
  filter: sepia(60%);
}

.filter-5 {
  filter: blur(5px);
}

.filter-6 {
  filter: contrast(200%);
}

.filter-7 {
  filter: contrast(175%) brightness(199%);
}

.filter-8 {
  filter: saturate(2.2);
}

@media (max-width: 400px) {
  .header {
    width: 100%;
    height: 327px;
    margin: 102px 0;
  }

  .section {
    gap: 50px;
    width: 100%;
    margin: 0 0;
    padding: 0 0px;
  }

  .footer {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 103px;
  }

  .dialog-open-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 308px;
    height: auto;
    padding: 15px 0;
  }

  .card {
    width: 100%;
    margin: 0;
  }

  .modal {
    max-width: 341px;
  }

  .card__title {
    height: 100%;
    border: 3px solid var(--accent-color);
    border-bottom: none;
    padding: 4px 10px 6px 10px;
    font-weight: var(--weight-title);
    font-size: 18px;
  }
  .dialog-open-button .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
  .dialog-open-button .button__text {
    width: auto;
  }

  .card__img-block {
    max-height: 371px;
  }

  .card__img-label {
    padding: 25px 11px 0 0;
  }
}

