/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@import 'globals';
@import 'variables';
@import 'fonts';
@import 'animations';


.page {
  padding: 100px 0;
  color: var(--accent-clr);
  font-family: var(--main-font), sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings:
    'wght' var(--main-font-weight),
    'wdth' 100,
    'opsz' 0;
}

body {
  background:
    var(--page-background-image),
    #fff;
  background-color: var(--page-background-color);
  background-attachment: fixed;
}

.content-section {
  margin: 0 auto;
  max-inline-size: 700px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Центрирует по вертикали */
  align-items: center;      /* Центрирует по горизонтали */
  margin: 0px auto 102px;
  max-width: 700px;
  width: 100%;
  min-width: 0;
  height: 368px;
  border: 2px solid var(--accent-clr);
  background-color: var(--background-clr);
  box-shadow: 0 4px 32px 0 rgb(0 0 0 / 0.12);
  padding: 0 40px;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.header__title {
  margin: 0 0 25px 0;
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title-caption {
  font-family: var(--accent-font), monospace;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
  line-height: 1;
  margin: 0;
  letter-spacing: 0.04em;
  text-align: center;
}

.header__title-subtitle {
  display: block;
  margin-top: 20px; /* поменяй по вкусу */
  font-weight: inherit;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  font-family: var(--accent-font), sans-serif;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: var(--border-width) solid var(--accent-clr);
  background-color: var(--background-clr);
  box-shadow: 0 4px 16px rgba(0,0,0,0.06), 0 1.5px 8px rgba(0,0,0,0.08);
  overflow: hidden;
  transition: box-shadow 0.2s;
}
.card__header {
  border-bottom: var(--border-width) solid var(--accent-clr);
  padding: 4px 10px 6px;
  font-size: 18px;
  font-variation-settings:
    'wght' var(--main-font-bold-weight),
    'wdth' 100,
    'opsz' 0;
}

.card__image-container {
  position: relative;
  border-bottom: var(--border-width) solid var(--accent-clr);
}

.card__image-text {
  position: absolute;
  z-index: 2;
  opacity: 0.6;
  color: var(--accent-clr);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow:
    1px 0 0 var(--background-clr),
    1px 0 0 var(--background-clr),
    0 1px 0 var(--background-clr),
    0 1px 0 var(--background-clr),
    -1px 0 0 var(--background-clr),
    -1px 0 0 var(--background-clr),
    0 -1px 0 var(--background-clr),
    0 -1px 0 var(--background-clr);
  mix-blend-mode: hard-light;
  inset-inline-end: 10px;
  inset-block-start: 20px;
}

@supports (
  (text-stroke: 1px var(--background-clr)) or
    (-webkit-text-stroke: 1px var(--background-clr))
) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-clr);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  inline-size: 100%;
  object-position: 91% center;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 25px;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings:
    'wght' var(--main-font-weight),
    'wdth' 100,
    'opsz' 0;
}

.card__buttons {
  display: flex;
  gap: 4px;
  align-self: flex-end;
  margin: 3px 0 0;
}

.card__icon-button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  padding: var(--border-width);
  outline: var(--border-width) solid transparent;
  outline-offset: var(--border-width);
  background-color: transparent;
  transition: outline var(--transform-time);
  transition-timing-function: var(--transition-function);
  cursor: pointer;
  inline-size: 43px;

  .like-icon {
    position: absolute;

    .core {
      fill: var(--core-clr-transparent);
      transition: fill 0.3s 0.03s linear;
    }

    .main-body {
      fill: var(--main-body-clr-transparent);
      transition: fill 0.3s linear;
    }

    .contour {
      fill: var(--contour-clr);
    }

    .sparks {
      fill: var(--sparks-fill-clr-transparent);
    }
  }

  .like-icon.is-liked {
    animation: icon-scaling 0.3s 0.1s ease-in reverse;

    .core {
      animation: core-coloring 0.3s linear;
      animation-fill-mode: forwards;
    }

    .main-body {
      animation: main-body-coloring 0.3s 0.05s linear;
      animation-fill-mode: forwards;
    }

    .contour {
      animation: contour-coloring 0.3s 0.06s linear;
      animation-fill-mode: forwards;
    }

    .sparks {
      animation: sparks-coloring 0.3s 0.3s ease-in reverse;
    }
  }
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--border-width) solid var(--accent-clr);
}

.card__icon-button:hover {
  .like-icon {
    .core {
      fill: var(--core-clr);
      transition: fill 0.3s linear;
    }

    .main-body {
      fill: var(--main-body-clr);
      transition: fill 0.3s 0.05s linear;
    }
  }
}

.card__icon-button:active {
  .like-icon {
    .core {
      fill: var(--core-active-clr);
      transition: fill 0.3s linear;
    }

    .main-body {
      fill: var(--main-body-active-clr);
      transition: fill 0.3s 0.05s linear;
    }
  }
}

.card__like-button {
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  cursor: pointer;
  inline-size: 130px;
}

.standard-button {
  position: relative;
  border: var(--border-width) solid var(--accent-clr);
  transition: box-shadow var(--transform-time);
  transition-timing-function: var(--transition-function);
}

.standard-button:focus {
  outline: none;
}

.standard-button:focus-visible {
  box-shadow: 2px 2px 0 2px var(--accent-clr);
}

.standard-button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--accent-clr);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.standard-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  display: block;
  color: var(--btn-text-clr);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  border: var(--border-width) solid var(--accent-clr);
  padding: 32px 42px;
  color: var(--accent-clr);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--background-clr);
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 343px;
}


.button--save {
  background-color: var(--background-clr);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-inline-size: 335px;
  inline-size: 100%;

  box-sizing: border-box;
  block-size: 55px;
  margin-inline: auto;
}

.button__text,
.button__icon {
  color: var(--btn-text-clr, #ffffff);
  mix-blend-mode: difference;

}

.button__icon {
  width: 21px;
   height: 21px;
   display: inline-block;
}

.modal {
  border: 2px solid var(--text-clr, #000000);
  padding: 25px 30px;
  color: var(--text-clr, #000000);
  font-family: var(--accent-font, "PressStart2P", fantasy);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--background-clr, #ffffff);
  max-inline-size: 353px;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.80;
  background: var(--color-black, #000000);
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  background: var(--background-clr, #ffffff);
  max-width: 293px;          /* Не больше макетной ширины */
 min-height: 38px;
  inline-size: 100%;
}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.filter__auto__grayscale {
  filter:
  grayscale(0.7)
  brightness(1.1)
  contrast(0.85)
}

.filter__auto__brsa {
  filter:
  brightness(150%)
  saturate(3);
}

.filter__auto__tinting {
  filter:
 hue-rotate(45deg);
}

.filter__auto__invert {
  filter:
 invert(0.8);
}

.filter__auto__sepia {
  filter:
sepia(90%);
}

.filter__auto__blur {
  filter: blur(21px);
}



@media (width <= 375px) {
  .modal {
    padding: 28px 34px 28px 40px;
    max-inline-size: 340px;
  }

  .button--save {
    flex-direction: column;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }
}
